<a href="https://colab.research.google.com/github/AlanHDLR/POO-AlanHDLR---2257/blob/main/LunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

"""
COMENTARIOS 
DE 
VARIAS 
LINEAS
"""

Hola Mundo

'\nCOMENTARIOS \nDE \nVARIAS \nLINEAS\n'

In [3]:
#Archivos espciales y codigos a SO
!ls -a

.  ..  .config	sample_data

In [5]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [8]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))

#Cambiar el orden de los valores
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {1} y estudio {0} en la FES Aragón".format(nombre, carrera))


print(f"Mi nombre es {nombre} y estudio en {carrera} dentrro de la FES Aragón")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es ICO, la mejor y estudio José en la FES Aragón
Mi nombre es José y estudio en ICO, la mejor dentrro de la FES Aragón

In [9]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [15]:
potencia

125

In [12]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [13]:
igual

False

In [16]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [17]:
y

False

In [18]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [20]:
print(parrafo)

print(cita)

Esto es un párrafo
que abarca varias
líneas
Los alumnos de ICO dicen: "Hola Mundo"

In [25]:
def fn_uno():
    print("Hola asldnafnDaf")
 
a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7f1f0f154280>
Hola asldnafnDaf

In [26]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Alan
Hola Alan!

In [29]:
numero = int("20")
print(numero)
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene { edad + 1} años")

20
Introduce tu edad:20
Alan tiene 21 años

In [30]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [31]:
imaginario

(3+4j)

In [32]:
pi*2

6.28318

In [36]:
#.Indexado normal
#           0.        1.         2
#Indexzadoi negativo
#          -3.       -2.        -1
frutas = ['limon', 'aguacate', 'fresa']
print(frutas[0])
print(frutas[-1])

limon
fresa

In [37]:
cosas = ['linon', 10, 3.1416, True, [1,2,3,4], "Hola"]
print(cosas)

['linon', 10, 3.1416, True, [1, 2, 3, 4], 'Hola']

# Slicing en Python
[inicio : stop : step]

Es la posibilida de obtener rebandas a partir de un tipo de datos tupla 

por defecto
inicio = 0

stop = igual al tamaño de la variable

step = 1

In [38]:
ejemplo = [1,2,3,4,5,6, 'a', 'b', 'c', 'd', 'e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [41]:
rebanada = ejemplo[2:6:1]
rebanada

[3, 4, 5, 6]

In [45]:
frutas_dos = ('Aguacate','Limon','Naranja')

print(frutas)
print(frutas_dos)

frutas[1] = 'Piña'
#frutas_dos[1] = 'Piña'

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[0:2:1])
print(frutas_dos[-1])

['limon', 'Piña', 'fresa']
('Aguacate', 'Limon', 'Naranja')
Piña
Limon
('Aguacate', 'Limon')
Naranja

#diccionarios teoría

1. Es un conjunto de pares llaves valor
1. Agrupados por ':'
1. La llave siempre es de tipo string
1. El valor puede ser de cualquier tipo
1. El selector es de la forma ['llave']
1. Es mutable (se puede sustituir un valor)
1. Se declaras entre los caracteres '{'y'}'
1. Los parees estan separados por comas

In [56]:
alumno = {'numero_cuenta' : 12322322, 'carrera': 'ICO',
            'direccion' : {'calle' : 'rancho seco', 'numero' : 23}
          }
print(alumno['carrera'])
print(alumno['direccion'])
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

ICO
{'calle': 'rancho seco', 'numero': 23}
23
cho